body{
    background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
    background-size:cover;
    background-repeat: no-repeat;
   
}

.container{
    display:flex;
    flex-flow: row wrap;
    min-height:650px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.box{
    height:400px;
    width:280px;
    margin:1%;
    background-color:white;
    opacity: 0.8;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.38);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.1);

  }

.box-heading{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.icons{
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0px 10px 10px 10px;
}
.bottomText{
    padding-top: 100px;
    color: yellowgreen;
    font-size: xx-large;

}

.grid-class{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}
.fa-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(147, 135, 216)), to(rgb(33, 123, 207)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}